.text-center{
    text-align: center;
    opacity: 0.4;
}

.mx-auto
{
    margin: auto;
}

.m-w-20
{
    max-width: 20vw;
}

.flex
{
    display: flex;
}
.flex-col
{
    flex-direction: column;
}

.item-center
{
    align-items: center;
    /* justify-content: center; */
}
.yellow
{
    background-color: rgb(221, 221, 7);
}

.position
{
    font-size: 30px;
    top: -400px;
    left: 2%;
    opacity: 0;
}

.position spam
{
    color: green;
    font-weight: bold;
    font-size: 35px;
}